// Color variables

$highlight: #dd1b16;

$orange-light: #dd1b16;
$orange-dark: #f89600;

$green-light: #a0bd3a;
$green-dark: #82a01b;

$gray-dark: #666666;
$gray-medium: #ededed;
$gray-light: #f4f4f4;