// Helpers

// Clearfix
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Responsive images
@mixin responsiveImages{
	img{
		max-width: 100%;
		height: auto;
		box-sizing: border-box;
	}
}

// Animation delay
.delay-400ms{
	animation-delay: 400ms;
}
.delay-1s{
	animation-delay: 1s;
}
.delay-1500ms{
	animation-delay: 1.5s;
}

// V align
.table{
	display: table;
}
.table-cell{
	display: table-cell;
	vertical-align: middle;
}